body {
    background-color: hsl(0, 0%, 0%);
}

#root {
    display: flex;}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container-fluid {
    flex: 1;
    background-color: hsl(0, 0%, 0%);
}

