.gradient-custom {
    /* fallback for old browsers */
    background: rgb(0,150,255);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(0, 150, 255, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(0, 150, 255, 1), rgb(0, 41, 71))
}

body {
  max-height: 100vh;
}

.vh-100 {
  background-color: rgb(37, 29, 29);
}

#root main {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
