body {
    background-color: aquamarine;
}

.header {
    color: white;
}

.content1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content1 .header {
    margin-top: -50px;
    flex: 0.3;
}

.content2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: antiquewhite;
}

.content1 .buttons {
    flex: 0.15;
    margin-top : -125px
}

.content1 .buttons button {
    margin-inline: 3px;
}


.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Imposta l'opacità dello sfondo */
    color: white; /* Imposta il colore del testo */
    padding: 20px; /* Aggiungi spazio intorno al testo */
    width: 400px;
    margin: auto;
}


  
