main {
    background-color: rgb(37, 29, 29);
    display: flex;
    flex-direction: column;

}

main div {
    /*centra il contenuto delle cards*/
    text-align: center;
    justify-content: center;
}


main .userCards .g-4 .card-body{
    color: white;
}

main .userCards .g-4 .card-img-top{
    /*padding sull'immagine delle cards*/
    padding: 40px;
}


.col {
    display: flex;
}

.userCards {
    margin-bottom: 10px;
}

.listaUtenti {
    color: white;
    display: flex;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}



