main {
    background-color: rgb(37, 29, 29);
    display: flex;
    flex-direction: column;
}

main .listaUtenti p{
    color: white;
    display: flex;
    justify-content: center;
}

main div {
    text-align: center;
    justify-content: center;
}

main .userCards {
    margin-inline: 50px;;
}

main .userCards .g-4 .col {
    /*centra gli elementi all'interno delle cards*/
    display: flex;
    /*diminuisce il margine tra una cards e l'altra*/
    margin-inline: -50px;
}

main .userCards .g-4 .card-body{
    color: white;
}

main .userCards .g-4 .card-img-top{
    padding: 40px;
}

