main {
    background-color: rgb(37, 29, 29);
}

.listaUtenti {
    display: flex;
    justify-content:center;
    color: rgb(0, 97, 233);
}

.userCards {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.g-4 .col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userCards img {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userCards .card-body,
.userCards .card-title,
.userCards .card-text {
    color: white;
}